<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.AspNetCore.DataProtection.Abstractions" />
      <package pattern="Asp.Versioning.Abstractions" />
      <package pattern="Asp.Versioning.Http" />
      <package pattern="Asp.Versioning.Mvc" />
      <package pattern="AspNetCore.HealthChecks.MongoDb" />
      <package pattern="AspNetCore.HealthChecks.UI" />
      <package pattern="AspNetCore.HealthChecks.UI.Client" />
      <package pattern="AspNetCore.HealthChecks.UI.Core" />
      <package pattern="AspNetCore.HealthChecks.UI.Data" />
      <package pattern="AspNetCore.HealthChecks.UI.InMemory.Storage" />
      <package pattern="Azure.AI.Inference" />
      <package pattern="Azure.AI.OpenAI" />
      <package pattern="Azure.Core" />
      <package pattern="Azure.Core.Amqp" />
      <package pattern="Azure.Extensions.AspNetCore.Configuration.Secrets" />
      <package pattern="Azure.Identity" />
      <package pattern="Azure.Monitor.OpenTelemetry.AspNetCore" />
      <package pattern="Azure.Monitor.OpenTelemetry.Exporter" />
      <package pattern="Azure.Messaging.EventGrid" />
      <package pattern="Azure.Messaging.ServiceBus" />
      <package pattern="Azure.Security.KeyVault.Certificates" />
      <package pattern="Azure.Security.KeyVault.Secrets" />
      <package pattern="Azure.Win32.SystemEvents" />
      <package pattern="BenchmarkDotNet.Annotations" />
      <package pattern="Bogus" />
      <package pattern="Castle.Core" />
      <package pattern="CommandLineParser" />
      <package pattern="Docker.DotNet" />
      <package pattern="Docker.DotNet.X509" />
      <package pattern="DnsClient" />
      <package pattern="dotnet-ef" />
      <package pattern="dotnet-interactive" />
      <package pattern="dotnet-*" />
      <package pattern="EntityFramework*" />
      <package pattern="FluentAssertions" />
      <package pattern="FluentValidation" />
      <package pattern="Fractions" />
      <package pattern="Gee.External.Capstone" />
      <package pattern="Google.Protobuf" />
      <package pattern="Grpc.AspNetCore" />
      <package pattern="Grpc.AspNetCore.Server" />
      <package pattern="Grpc.AspNetCore.Server.ClientFactory" />
      <package pattern="Grpc.Core.Api" />
      <package pattern="Grpc.Net.Client" />
      <package pattern="Grpc.Net.ClientFactory" />
      <package pattern="Grpc.Net.Common" />
      <package pattern="Grpc.Tools" />
      <package pattern="Humanizer.Core" />
      <package pattern="Iced" />
      <package pattern="IdentityModel" />
      <package pattern="IdentityModel.OidcClient" />
      <package pattern="Interop.WindowsBase" />
      <package pattern="JetBrains.Annotations" />
      <package pattern="Json.More.Net" />
      <package pattern="JsonPointer.Net" />
      <package pattern="JsonSchema.Net" />
      <package pattern="Keycloak.AuthServices.Authentication" />
      <package pattern="KubernetesClient" />
      <package pattern="Microsoft.AspNetCore.Authentication.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Authentication.Core" />
      <package pattern="Microsoft.AspNetCore.Authentication.JwtBearer" />
      <package pattern="Microsoft.AspNetCore.Authentication.OpenIdConnect" />
      <package pattern="Microsoft.AspNetCore.Authorization" />
      <package pattern="Microsoft.AspNetCore.Authorization.Policy" />
      <package pattern="Microsoft.AspNetCore.Cors" />
      <package pattern="Microsoft.AspNetCore.Cryptography.Internal" />
      <package pattern="Microsoft.AspNetCore.DataProtection" />
      <package pattern="Microsoft.AspNetCore.DataProtection.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore" />
      <package pattern="Microsoft.AspNetCore.Hosting" />
      <package pattern="Microsoft.AspNetCore.Hosting.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Hosting.Server.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Html.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Http" />
      <package pattern="Microsoft.AspNetCore.Http.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Http.Extensions" />
      <package pattern="Microsoft.AspNetCore.Http.Features" />
      <package pattern="Microsoft.AspNetCore.JsonPatch" />
      <package pattern="Microsoft.AspNetCore.Mvc.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Mvc.Core" />
      <package pattern="Microsoft.AspNetCore.Mvc.Formatters.Json" />
      <package pattern="Microsoft.AspNetCore.Mvc.Testing" />
      <package pattern="Microsoft.AspNetCore.Mvc.WebApiCompatShim" />
      <package pattern="Microsoft.AspNetCore.OpenApi" />
      <package pattern="Microsoft.AspNetCore.ResponseCaching.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Routing" />
      <package pattern="Microsoft.AspNetCore.Routing.Abstractions" />
      <package pattern="Microsoft.AspNetCore.StaticFiles" />
      <package pattern="Microsoft.AspNetCore.TestHost" />
      <package pattern="Microsoft.AspNetCore.WebUtilities" />
      <package pattern="Microsoft.AspNetCore.WebApiCompatShim" />
      <package pattern="Microsoft.ApplicationInsights" />
      <package pattern="Microsoft.ApplicationInsights.WorkerService" />
      <package pattern="Microsoft.Azure.AppConfiguration.AspNetCore" />
      <package pattern="Microsoft.Azure.Cosmos" />
      <package pattern="Microsoft.Azure.Functions.Analyzers" />
      <package pattern="Microsoft.Azure.Functions.Extensions" />
      <package pattern="Microsoft.Azure.Functions.Worker" />
      <package pattern="Microsoft.Azure.Functions.Worker.AspNetCore" />
      <package pattern="Microsoft.Azure.Functions.Worker.ApplicationInsights" />
      <package pattern="Microsoft.Azure.Functions.Worker.Core" />
      <package pattern="Microsoft.Azure.Functions.Worker.Extensions.Abstractions" />
      <package pattern="Microsoft.Azure.Functions.Worker.Extensions.Http" />
      <package pattern="Microsoft.Azure.Functions.Worker.Extensions.Http.AspNetCore" />
      <package pattern="Microsoft.Azure.Functions.Worker.Extensions.Http.AspNetCore.Analyzers" />
      <package pattern="Microsoft.Azure.Functions.Worker.Extensions.Rpc" />
      <package pattern="Microsoft.Azure.Functions.Worker.Extensions.ServiceBus" />
      <package pattern="Microsoft.Azure.Functions.Worker.Grpc" />
      <package pattern="Microsoft.Azure.Functions.Worker.Sdk" />
      <package pattern="Microsoft.Azure.Functions.Worker.Sdk.Analyzers" />
      <package pattern="Microsoft.Azure.Functions.Worker.Sdk.Generators" />
      <package pattern="Microsoft.Azure.WebJobs" />
      <package pattern="Microsoft.Azure.WebJobs.Core" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions.Http" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions.Rpc" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions.ServiceBus" />
      <package pattern="Microsoft.Azure.WebJobs.Host.Storage" />
      <package pattern="Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator" />
      <package pattern="Microsoft.Bcl.AsyncInterfaces" />
      <package pattern="Microsoft.Bcl.HashCode" />
      <package pattern="Microsoft.Build.Framework" />
      <package pattern="Microsoft.Build.Locator" />
      <package pattern="Microsoft.CSharp" />
      <package pattern="Microsoft.CognitiveServices.Speech" />
      <package pattern="Microsoft.CodeCoverage" />
      <package pattern="Microsoft.CodeAnalysis" />
      <package pattern="Microsoft.CodeAnalysis.Analyzers" />
      <package pattern="Microsoft.CodeAnalysis.CSharp" />
      <package pattern="Microsoft.CodeAnalysis.CSharp.Workspaces" />
      <package pattern="Microsoft.CodeAnalysis.Common" />
      <package pattern="Microsoft.CodeAnalysis.VisualBasic*" />
      <package pattern="Microsoft.CodeAnalysis.Workspaces.Common" />
      <package pattern="Microsoft.CodeAnalysis.Workspaces.MSBuild" />
      <package pattern="Microsoft.Composition" />
      <package pattern="Microsoft.Composition.*" />
      <package pattern="Microsoft.Diagnostics.NETCore.Client" />
      <package pattern="Microsoft.Diagnostics.Runtime" />
      <package pattern="Microsoft.Diagnostics.Tracing.TraceEvent" />
      <package pattern="Microsoft.DotNet.Interactive" />
      <package pattern="Microsoft.DotNet.Interactive.Documents" />
      <package pattern="Microsoft.DotNet.Interactive.Formatting" />
      <package pattern="Microsoft.DotNet.PlatformAbstractions" />
      <package pattern="Microsoft.DotNet.Sdk.Functions" />
      <package pattern="Microsoft.Extensions.Caching.Hybrid" />
      <package pattern="Microsoft.Extensions.Caching.Memory" />
      <package pattern="Microsoft.Extensions.Caching.StackExchangeRedis" />
      <package pattern="Microsoft.Extensions.Configuration" />
      <package pattern="Microsoft.Extensions.Configuration.Abstractions" />
      <package pattern="Microsoft.Extensions.Configuration.Binder" />
      <package pattern="Microsoft.Extensions.Configuration.CommandLine" />
      <package pattern="Microsoft.Extensions.Configuration.EnvironmentVariables" />
      <package pattern="Microsoft.Extensions.Configuration.FileExtensions" />
      <package pattern="Microsoft.Extensions.Configuration.Json" />
      <package pattern="Microsoft.Extensions.Configuration.UserSecrets" />
      <package pattern="Microsoft.Extensions.DependencyInjection" />
      <package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
      <package pattern="Microsoft.Extensions.Diagnostics" />
      <package pattern="Microsoft.Extensions.Diagnostics.Abstractions" />
      <package pattern="Microsoft.Extensions.Diagnostics.HealthChecks" />
      <package pattern="Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions" />
      <package pattern="Microsoft.Extensions.FileProviders.Abstractions" />
      <package pattern="Microsoft.Extensions.FileProviders.Physical" />
      <package pattern="Microsoft.Extensions.FileSystemGlobbing" />
      <package pattern="Microsoft.Extensions.Hosting" />
      <package pattern="Microsoft.Extensions.Hosting.Abstractions" />
      <package pattern="Microsoft.Extensions.Http" />
      <package pattern="Microsoft.Extensions.Http.Diagnostics" />
      <package pattern="Microsoft.Extensions.Http.Resilience" />
      <package pattern="Microsoft.Extensions.Logging" />
      <package pattern="Microsoft.Extensions.Logging.Abstractions" />
      <package pattern="Microsoft.Extensions.Logging.Console" />
      <package pattern="Microsoft.Extensions.Logging.Configuration" />
      <package pattern="Microsoft.Extensions.Logging.Debug" />
      <package pattern="Microsoft.Extensions.Logging.EventLog" />
      <package pattern="Microsoft.Extensions.Logging.EventSource" />
      <package pattern="Microsoft.Extensions.Options" />
      <package pattern="Microsoft.Extensions.Options.ConfigurationExtensions" />
      <package pattern="Microsoft.Extensions.Primitives" />
      <package pattern="Microsoft.Extensions.* " />
      <package pattern="Microsoft.FeatureManagement" />
      <package pattern="Microsoft.IO.RecyclableMemoryStream" />
      <package pattern="Microsoft.Identity.Abstractions" />
      <package pattern="Microsoft.Identity.Client" />
      <package pattern="Microsoft.Identity.Client.Extensions.Msal" />
      <package pattern="Microsoft.IdentityModel.JsonWebTokens" />
      <package pattern="Microsoft.IdentityModel.Logging" />
      <package pattern="Microsoft.IdentityModel.LoggingExtensions" />
      <package pattern="Microsoft.IdentityModel.Validators" />
      <package pattern="Microsoft.IdentityModel.Web" />
      <package pattern="Microsoft.IdentityModel.Protocols" />
      <package pattern="Microsoft.IdentityModel.Protocols.OpenIdConnect" />
      <package pattern="Microsoft.IdentityModel.TokenCache" />
      <package pattern="Microsoft.IdentityModel.Tokens" />
      <package pattern="Microsoft.IdentityModel.Validators" />
      <package pattern="Microsoft.Identity.Web" />
      <package pattern="Microsoft.Identity.Web.Certificate" />
      <package pattern="Microsoft.Identity.Web.Certificateless" />
      <package pattern="Microsoft.Identity.Web.Diagnostics" />
      <package pattern="Microsoft.Identity.Web.TokenAcquisition" />
      <package pattern="Microsoft.Identity.Web.TokenCache" />
      <package pattern="Microsoft.IO.RecyclableMemoryStream" />
      <package pattern="Microsoft.Management" />
      <package pattern="Microsoft.Net.Http.Headers" />
      <package pattern="Microsoft.NET.Sdk.Functions" />
      <package pattern="Microsoft.NET.Test.Sdk" />
      <package pattern="Microsoft.NETCore.App.Ref" />
      <package pattern="Microsoft.NETCore.Platforms" />
      <package pattern="Microsoft.NETCore.Targets" />
      <package pattern="Microsoft.OpenAPI" />
      <package pattern="Microsoft.OpenApi.Readers" />
      <package pattern="Microsoft.OpenApi.VisualStudio.ApiDoc" />
      <package pattern="Microsoft.OpenApi.VisualStudio.ReDoc" />
      <package pattern="Microsoft.SemanticKernel.Abstractions" />
      <package pattern="Microsoft.SemanticKernel.Connectors.AzureOpenAI" />
      <package pattern="Microsoft.SemanticKernel.Connectors.OpenAI" />
      <package pattern="Microsoft.SemanticKernel.Core" />
      <package pattern="Microsoft.SemanticKernel.Plugins.OpenApi" />
      <package pattern="Microsoft.SqlServer.Server" />
      <package pattern="Microsoft.TestPlatform.ObjectModel" />
      <package pattern="Microsoft.TestPlatform.TestHost" />
      <package pattern="Microsoft.Threading.Tasks" />
      <package pattern="Microsoft.Threading.Tasks.Extensions" />
      <package pattern="Microsoft.Threading.Tasks.Extensions.Desktop" />
      <package pattern="Microsoft.VisualBasic" />
      <package pattern="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" />
      <package pattern="Microsoft.Win32.Primitives" />
      <package pattern="Microsoft.Win32.Registry" />
      <package pattern="Microsoft.Win32.SystemEvents" />
      <package pattern="Microsoft.WindowsDesktop.App.Ref" />
      <package pattern="Microsoft.Win32.SystemEvents" />
      <package pattern="Mono.TextTemplating" />
      <package pattern="MongoDB.Bson" />
      <package pattern="MongoDB.Driver" />
      <package pattern="MongoDB.Driver.Core" />
      <package pattern="MongoDB.EntityFrameworkCore" />
      <package pattern="Moq" />
      <package pattern="Moq.EntityFrameworkCore" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Newtonsoft.Json.Bson" />
      <package pattern="ncrontab.signed" />
      <package pattern="OpenAI" />
      <package pattern="OpenTelemetry" />
      <package pattern="OpenTelemetry.Api" />
      <package pattern="OpenTelemetry.Api.ProviderBuilderExtensions" />
      <package pattern="OpenTelemetry.Extensions.Hosting" />
      <package pattern="OpenTelemetry.*" />
      <package pattern="Perfolizer" />
      <package pattern="Pipelines.Sockets.Unofficial" />
      <package pattern="Polly" />
      <package pattern="Polly.*" />
      <package pattern="prometheus-net" />
      <package pattern="Prometheus.Visualization" />
      <package pattern="ProtoBuf.Serializer" />
      <package pattern="prometheus-net.AspNetCore" />
      <package pattern="prometheus-net.DotNetRuntime" />
      <package pattern="prometheus-net.SqlClient" />
      <package pattern="protoc-gen-dotnet" />
      <package pattern="ProtobufTools" />
      <package pattern="Prometheus.Serialization" />
      <package pattern="Protobuf.Tools" />
      <package pattern="Proto.Validation" />
      <package pattern="ReactiveUI.WPF" />
      <package pattern="ReactiveUI.Xaml" />
      <package pattern="runtime.any.System.IO" />
      <package pattern="runtime.any.System.Reflection.Primitives" />
      <package pattern="runtime.any.System.Text.Encoding" />
      <package pattern="runtime.any.System.Threading.Tasks" />
      <package pattern="runtime.any.System.Runtime" />
      <package pattern="runtime.any.System.Reflection" />
      <package pattern="runtime.debian.8-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.fedora.23-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.fedora.24-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.native.System" />
      <package pattern="runtime.native.System.Data.SqlClient.sni" />
      <package pattern="runtime.native.System.IO.Compression" />
      <package pattern="runtime.native.System.Net.Http" />
      <package pattern="runtime.native.System.Security.Cryptography.Apple" />
      <package pattern="runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.opensuse.13.2-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.opensuse.42.1-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.osx.10.10-x64.runtime.native.System.Security.Cryptography.Apple" />
      <package pattern="runtime.osx.10.10-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.rhel.7-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.ubuntu.16.04-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.ubuntu.16.10-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.win-arm64.runtime.native.System.Data.SqlClient.sni" />
      <package pattern="runtime.win-x64.runtime.native.System.Data.SqlClient.sni" />
      <package pattern="runtime.win-x86.runtime.native.System.Data.SqlClient.sni" />
      <package pattern="Scalar.AspNetCore" />
      <package pattern="Serilog" />
      <package pattern="Serilog.*" />
      <package pattern="SharpCompress" />
      <package pattern="SharpZipLib" />
      <package pattern="SharpYaml" />
      <package pattern="SignalR.Client" />
      <package pattern="Snappier" />
      <package pattern="SSH.NET" />
      <package pattern="SshNet.Security.Cryptography" />
      <package pattern="StackExchange.Redis" />
      <package pattern="Swashbuckle.AspNetCore" />
      <package pattern="Swashbuckle.AspNetCore.Annotations" />
      <package pattern="Swashbuckle.AspNetCore.Swagger" />
      <package pattern="Swashbuckle.AspNetCore.SwaggerGen" />
      <package pattern="Swashbuckle.AspNetCore.SwaggerUI" />
      <package pattern="System.AppContext" />
      <package pattern="System.Buffers" />
      <package pattern="System.ClientModel" />
      <package pattern="System.CodeDom" />
      <package pattern="System.Collections" />
      <package pattern="System.Collections.Concurrent" />
      <package pattern="System.Collections.Immutable" />
      <package pattern="System.Collections.NonGeneric" />
      <package pattern="System.Collections.Specialized" />
      <package pattern="System.ComponentModel" />
      <package pattern="System.ComponentModel.Annotations" />
      <package pattern="System.ComponentModel.Primitives" />
      <package pattern="System.ComponentModel.TypeConverter" />
      <package pattern="System.Configuration.ConfigurationManager" />
      <package pattern="System.Console" />
      <package pattern="System.Data.SqlClient" />
      <package pattern="System.Diagnostics.Debug" />
      <package pattern="System.Diagnostics.DiagnosticSource" />
      <package pattern="System.Diagnostics.DiagnosticsProcess" />
      <package pattern="System.Diagnostics.PerformanceCounter" />
      <package pattern="System.Diagnostics.TraceSource" />
      <package pattern="System.Diagnostics.Tools" />
      <package pattern="System.Diagnostics.Tracing" />
      <package pattern="System.Drawing.Common" />
      <package pattern="System.Dynamic.Runtime" />
      <package pattern="System.Formats.Asn1" />
      <package pattern="System.Globalization" />
      <package pattern="System.Globalization.Calendars" />
      <package pattern="System.Globalization.Extensions" />
      <package pattern="System.IO" />
      <package pattern="System.IO.Compression" />
      <package pattern="System.IO.Compression.ZipFile" />
      <package pattern="System.IO.FileSystem" />
      <package pattern="System.IO.FileSystem.AccessControl" />
      <package pattern="System.IO.FileSystem.Primitives" />
      <package pattern="System.IO.Pipelines" />
      <package pattern="System.Linq" />
      <package pattern="System.Linq.Expressions" />
      <package pattern="System.Management" />
      <package pattern="System.Memory" />
      <package pattern="System.Memory.Data" />
      <package pattern="System.Net.Http" />
      <package pattern="System.Net.Primitives" />
      <package pattern="System.Net.ServerSentEvents" />
      <package pattern="System.Net.Sockets" />
      <package pattern="System.Numerics.Tensors" />
      <package pattern="System.Numerics.Vectors" />
      <package pattern="System.ObjectModel" />
      <package pattern="System.Private.Uri" />
      <package pattern="System.Reflection" />
      <package pattern="System.Reflection.Emit" />
      <package pattern="System.Reflection.Emit.ILGeneration" />
      <package pattern="System.Reflection.Emit.Lightweight" />
      <package pattern="System.Reflection.Extensions" />
      <package pattern="System.Reflection.Metadata" />
      <package pattern="System.Reflection.Primitives" />
      <package pattern="System.Reflection.TypeExtensions" />
      <package pattern="System.Resources.ResourceManager" />
      <package pattern="System.Runtime" />
      <package pattern="System.Runtime.Cache" />
      <package pattern="System.Runtime.Caching" />
      <package pattern="System.Runtime.CompilerServices.Unsafe" />
      <package pattern="System.Runtime.Extensions" />
      <package pattern="System.Runtime.Handles" />
      <package pattern="System.Runtime.InteropServices" />
      <package pattern="System.Runtime.InteropServices.RuntimeInformation" />
      <package pattern="System.Runtime.Loader" />
      <package pattern="System.Runtime.Numerics" />
      <package pattern="System.Runtime.Serialization.Formatters" />
      <package pattern="System.Runtime.Serialization.Primitives" />
      <package pattern="System.Security.AccessControl" />
      <package pattern="System.Security.Cryptography.Algorithms" />
      <package pattern="System.Security.Cryptography.Cng" />
      <package pattern="System.Security.Cryptography.Csp" />
      <package pattern="System.Cryptography.Xml" />
      <package pattern="System.Security.Cryptography.Encoding" />
      <package pattern="System.Security.Cryptography.OpenSsl" />
      <package pattern="System.Security.Cryptography.Pkcs" />
      <package pattern="System.Security.Cryptography.Primitives" />
      <package pattern="System.Security.Cryptography.ProtectedData" />
      <package pattern="System.Security.Cryptography.X509Certificates" />
      <package pattern="System.Security.Permissions" />
      <package pattern="System.Security.Principal.Windows" />
      <package pattern="System.Text.Encoding" />
      <package pattern="System.Text.Encoding.CodePages" />
      <package pattern="System.Text.Encoding.Extensions" />
      <package pattern="System.Text.Encodings.Web" />
      <package pattern="System.Text.Json" />
      <package pattern="System.Text.RegularExpressions" />
      <package pattern="System.Threading" />
      <package pattern="System.Threading.Channels" />
      <package pattern="System.Threading.Tasks" />
      <package pattern="System.Threading.Tasks.Dataflow" />
      <package pattern="System.Threading.Tasks.Extensions" />
      <package pattern="System.Threading.Timer" />
      <package pattern="System.ValueTuple" />
      <package pattern="System.Windows.Extensions" />
      <package pattern="System.Xml.ReaderWriter" />
      <package pattern="System.Xml.XmlDocument" />
      <package pattern="System.Xml.XDocument" />
      <package pattern="Testcontainers" />
      <package pattern="WindowsAzure.Storage" />
      <package pattern="System.Management" />
      <package pattern="System.Threading.RateLimiting" />
      <package pattern="YamlDotNet" />
      <package pattern="ZstdSharp.Port" />
    </packageSource>
  </packageSourceMapping>
</configuration>
